a{
    text-decoration: none;
    font-size: 44px;
}
#my_span{
    font-size: 75px;
    text-decoration: underline;
    cursor: wait;
    border: 1px red solid;
}
ul{
    list-style-type: circle;
    display: block;
}